<div class="text-center">
  <h1 class="text-[#55BBEA] text-3xl">
    Publication No. 60 - Procedures for Combating Money Laundering and Terrorism
    Financing
  </h1>
  <p>
    Notice No. 60 - Anti-Money Laundering and Counter-Terrorism Financing
    Procedures <br />

    In compliance with the requirements for combating money laundering and
    terrorism financing, as well as the applicable laws and regulations, and in
    response to the requirements of the Financial Action Task Force for the
    Middle East and North Africa (MENA FATF), the Lebanese Association of
    Certified Public Accountants reminds its members of the necessity to adhere
    to the provisions of these laws and regulations, particularly Law No.
    2015/44 on Anti-Money Laundering and Counter-Terrorism Financing.
    <br />
    Ensure that your client is not listed on the local sanctions list (the
    national list issued by the Internal Security Forces and the UN sanctions
    lists issued by the Security Council). <br />
    Based on the above, please find below a table of electronic links that allow
    you to verify that none of your clients are listed on any of these lists.
  </p>
  <p>
    UN Sanctions list 1267 at link:
    <a
      href="https://www.un.org/securitycouncil/en/sanctions/1267/aq_sanctions_list"
    >
      https://www.un.org/securitycouncil/en/sanctions/1267/aq_sanctions_list </a
    ><br />
    UN Sanctions list 1988 at link:
    <a href="https://main.un.org/securitycouncil/en/sanctions/1988/materials">
      https://main.un.org/securitycouncil/en/sanctions/1988/materials </a
    ><br />
    UN Sanctions list 1718 at link:
    <a href="https://main.un.org/securitycouncil/en/sanctions/1718/materials">
      https://main.un.org/securitycouncil/en/sanctions/1718/materials </a
    ><br />
    National list at link:
    <a href="https://isf.gov.lb/ar/national-terrorism-financial-list">
      https://isf.gov.lb/ar/national-terrorism-financial-list </a
    ><br />
  </p>
</div>
