<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LACPA's applications</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-950 text-gray-100 px-6 py-10 leading-relaxed">
    <div>
      <h1 class="text-white text-2xl font-semibold mb-2">
        <span class="text-[#55BBEA]">|</span> My Applications
      </h1>
      <div class="w-full h-[236px] border border-[#284179] rounded-3xl">
        <div class="w-full h-[50px] bg-[#284179] rounded-t-3xl">
          <div class="flex justify-between">
            <p class="mx-2 my-2">Applicayion 1</p>
            <div class="flex">
              <button class="traveling-border-btn mx-3">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Edit
              </button>

              <p class="mx-2 my-2">14:52:06 Left</p>
              <button
                class="border-2 border-[#55BBEA] text-[#55BBEA] mx-3 my-3 w-5 h-5 rounded-full flex items-center justify-center"
              >
                i
              </button>
            </div>
          </div>
          <div class="flex justify-between">
            <p class="m-2">Content</p>
            <p class="m-2 text-[#00A63F]">Accepted</p>
          </div>
        </div>
      </div>
      <div class="w-full h-[236px] border border-[#284179] rounded-3xl my-5">
        <div class="w-full h-[50px] bg-[#284179] rounded-t-3xl">
          <div class="flex justify-between">
            <p class="mx-2 my-2">Applicayion 2</p>
            <div class="flex">
              <button disabled class="traveling-border-btn mx-3 disabled:blur">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Edit
              </button>
           
              <button
                class="border-2 border-[#55BBEA] text-[#55BBEA] mx-3 my-3 w-5 h-5 rounded-full flex items-center justify-center"
              >
                i
              </button>
            </div>
          </div>
          <div class="flex justify-between">
            <p class="m-2">Content</p>
            <p class="m-2 text-[#ED1D24]">Accepted</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
